.menu-container{    
    flex:3;
    display:flex;
    flex-direction: column;
    gap:2rem;
    a{
        font-weight:bold;
        color:black;
        text-decoration: none;
    }
    li:hover, a:hover{
        color:#33A0FF;
    }
    li{
        width:100%;
        display:flex;
        justify-content: space-between;
        span{
            font-weight:bold;
            opacity:50%;    
        }
    }
    h3{
        font-weight:bold;
        text-transform: uppercase;
    }
    &__accessories, &__prices,&__color,&__brand,&__more{
        padding:20px 20px 40px 20px;
        background-color:#F6F7F8;
        display:flex;
        flex-direction: column;
        gap:2rem;
        border-radius:5px;
    }
    &__accessories{
        &--categories{
            &__links{
                display:flex;
                flex-direction: column;
                gap:1.5rem;
                list-style-type: none;
                color:black;
            }
        }
    }

    &__prices{
        &--price-range{
            form{
                display:flex;
                flex-direction: column;
                gap:1.5rem;
                label{
                    display:flex;
                    justify-content: space-between;
                }
            }
        }
    }


    &__color{
        &--color-selection{
            form{
                display:flex;
                gap:1rem;
                justify-content: space-between ;
                .color-selector:after{
                    width: 20px;
                    height: 20px;
                    border-radius: 20px;
                    top: -2px;
                    left: -1px;
                    position: relative;
                    content: '';
                    display: inline-block;
                    visibility: visible;
                    border: 2px solid white;
                }
                #c006CFF:after{
                    background-color: #006CFF;
                }
                #cFC3E39:after{
                    background-color: #FC3E39;
                }
                #c171717:after{
                    background-color: #171717;
                }
                #cFF00B4:after{
                    background-color: #FF00B4;
                }
                #cFFF600:after{
                    background-color: #FFF600;
                }
                #cEFDFDF:after{
                    background-color: #EFDFDF;
                }   
                .color-selector:checked:after {
                    width: 20px;
                    height: 20px;
                    border-radius: 20px;
                    top: -2px;
                    left: -1px;
                    position: relative; 
                    content: '';    
                    border: 2px solid black;
                }
            }
        }
    }

    &__brand{
        &--brand{
            &__selection{
                &__links{
                    display:flex;
                    flex-direction: column;
                    gap:1.5rem;
                    list-style-type: none;
                    color:black;    
                }
            }
        }
    }

    &__more{
        display: flex;
        place-items: center;
        padding:20px;
        h3{
            font-weight: 300;
        }
    }
}