*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.login-container--background{
    width:100vw;
    height: 100vh;
    background-color:black;
    opacity:.5;
    position:absolute;
    z-index:2;
}
.container-background{
    //background-image: url("../../../assets/login_signup/cover-img.jpg");
    background: transparent linear-gradient(180deg, #00000029 0%, #000000 100%) 0% 0% no-repeat padding-box;
    width:100vw;
    height:100vh;
    background-size: 100% 100%;
    opacity:.5;
    position: absolute;
    z-index:1;
}

.login-container{
    display:flex;
    position: relative;
    z-index:3;
    color:white;
    height:100vh;
    width:100vw;
    justify-content: center;
    align-items: center;
    &--text{
        flex:1;
        display: flex;
        align-items: center;
        justify-content: center;
        &__text-container{
            a{
                color:white;
                text-decoration: none;
            }
            &--title{
                display:flex;
                
                h1{
                    font-weight: bold;
                    font-size:36px;
                }
                h1:nth-child(1){
                    padding-bottom:20px;
                    border-bottom: 7px solid #B2002D;
                    margin-bottom:20px;
                }
                h1:nth-child(2){
                    color:#FD2E2E;
                }
            }
        }
    }
    &__login{
        flex:1;
        display:flex;
        justify-content: center;
        align-items: center;
        &--card{
            color:black;
            width:368px;
            height:646px;
            background-color:white;
            padding:20px;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:1.5rem;
            .login__form{
                width:100%;
                display:flex;
                flex-direction: column;
                gap:1rem;
                justify-content: center;
                align-content: center;
                .terms{
                    margin: auto;
                    width:80%;
                    font-size:12px;
                    height:28px;
                    width:196px;
                    text-align: center;
                }
                .signup{
                    font-size:13px;
                    margin: auto;
                    a{
                        color:#B2002D;
                        text-decoration: none;
                    }
                }
                form{
                    display:flex;
                    flex-direction: column;
                    gap:2rem;
                    label{
                        font-weight:bold;
                    }
                    input{
                        border:1px solid #C4C4C4;
                        height:48px;
                        border-radius: 8px;
                        padding:10px;
                        position: relative;
                    }
                    input[type=submit]{
                        background-color:#FD2E2E;
                        color:white;
                    }
                    .show-password{
                        background:none;
                        position: absolute;
                        right:10px;
                        font-size:20px;
                        bottom:15px;
                    }
                }
                
            }
            .separator{
                position: relative;
                text-align: center;
                width:100%;
                hr{
                    background-color:grey;
                }
                span{
                    position: absolute;
                    top:-7px;
                    background:white;
                    padding:0 10px;
                    text-transform: uppercase;
                }
            }
            h1{
                font-size:35px;
                font-weight: bold;
            }
            button{
                border-radius: 6px;
                height: 48px;
                outline: none;
                border: 1px solid grey;
                color:white;
                width:100%;
                display:flex;
                justify-content: center;
                align-items: center;
                gap:1rem;
            }
            button i{
                flex: 1;
                display: flex;
                justify-content: flex-end;
                img{
                    width:22px;
                    height: 22px;
                }
            }
            button span{
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size:12px;
                flex:3;
                display:flex;
            }
            button:nth-child(3){
                background-color:#000000;
            }
            button:nth-child(4){
                background-color:#3A5998;
            }
        }
    }
}

@media screen and(max-width:808px){
    .login-container--background{
        display:none;
    }
    .login-container--text__text-container{
        display:none;
    }
    .container-background{
        display:none;
    }
    .login-container--text{
        flex:0;
    }
    .login-container__login{
        margin:auto;
        &--card{
            margin: auto;
            justify-content: center;
            position: relative!important;
        }
    }
    .arrow-container{
        width:100%;
    }
    .backarrow{
        display: flex !important;
        
    }
}

//////////////////////////////////////////////////////////////////////////Signup CSS

.input-group{
    display:flex;
    flex-direction: column;
    gap:1rem;
    position: relative;
    .error{
        color:red;
    }
}

.input-group:nth-child(4){
    display:flex;
    flex-direction: row;
    align-items: center;
    input[type=checkbox]{
        width:20px;
        height: 20px;
    }
}

.login-container{
    &__login{
        &--card{
            .existing-account--text{
                a{
                    color:#233975;
                    font-weight: bold;
                    text-decoration: none;
                }
            }
        }
    }
}