.user-menu-container{
    width:100%;
    display:flex;
    flex-direction: column;
    border-radius:20px;
    padding:20px;
    gap:1rem;
    .user-menu{
        display:flex;
        flex-direction: column;
        gap:1rem;
        .messages{
            display:flex;
            justify-content: space-between;
            align-items: center;
        }
        div{
            padding:20px 20px 20px 15px;
            border-radius:25px;
            transition: all .2s;
        }
        .inactive:hover{
            background-color: #fd2e2e0f;
        }
        .inactive:active{
            background: #fd2e2e2f;
        }
        a{
            color:#52575D;
            text-decoration: none;
        }
        .active{
            background-color: #fd2e2e2f;
            
            border-radius:25px;
        }

    }
    .user-info{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &__sold-amount{
            background:#FD2E2E;
            padding:10px;
            border-radius:8px;
            color:white;
            font-size:14px;
        }
        .user-thumbnail{
            display:flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            padding:10px;
            .profile-pic{
                width:30px;
                height:30px;
                border-radius:25px;
            }
            .info-span{
                padding:0;
                font-size:16px;
                font-weight:bold;
            }
        }
    }
}